<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs34idVHwchA6Yu4OeK1U2AGI906Nw9jY</string>
	<key>GCM_SENDER_ID</key>
	<string>488134673586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.capgeminiicicidesignlib</string>
	<key>PROJECT_ID</key>
	<string>icicidemoproject</string>
	<key>STORAGE_BUCKET</key>
	<string>icicidemoproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488134673586:ios:700fa9efdb70e90933f5ab</string>
</dict>
</plist>